// colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$dark-blue-primary: hsl(217, 54%, 11%);
$dark-blue-secondary: hsl(216, 50%, 16%);
$dark-blue-tertiary: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// font sizes and weights
$base-font-size: 18px;
$font-size-large: 22px;
$font-size-small: 16px;

$base-font-weight: 300;
$font-weight-light: 400;
$font-weight-semibold: 600;

// margin, padding and gap
$base-margin: 25px;
$base-gap: 8px;

// border
$base-border-radius: 16px;
$border-radius-small: 12px;
